[Unit]
Description=Prometheus Node Exporter Service
After=network.target

[Service]
ExecStart=/usr/bin/prometheus -config.file=/etc/prometheus/prometheus.yaml -web.console.libraries=/usr/share/prometheus/console_libraries -web.console.templates=/usr/share/prometheus/consoles -storage.local.path=/var/lib/prometheus/data
User=prometheus

[Install]
WantedBy=multi-user.target
